<div class="card" style="width: 20rem;">
  <div>88</div>
  <div class="card-body">
    <h4 class="card-title">OPIOID-RELATED DEATHS</h4>
    <p class="card-text">in 20001 in 2017</p>
  </div>
</div>

<div class="card" style="width: 20rem;">
  <div>12</div>
  <div class="card-body">
    <h4 class="card-title">NUMBER OF TREATMENT CENTERS</h4>
    <p class="card-text">within 10 miles of 20001</p>
  </div>
</div>

<div class="card" style="width: 20rem;">
  <div>$25.80</div>
  <div class="card-body">
    <h4 class="card-title">AVERAGE NARCAN PRICE, PER UNIT</h4>
    <p class="card-text">at pharmacies and clinics in 20001</p>
  </div>
</div>
