<div class="jumbotron jumbotron-fluid bg-dark text-white">
  <div class="container">
    <h1 class="display-4">The Community Needs You.</h1>
    <p class="lead">There is an increasing number of people using opioids across our country, and they need your help.</p>
    <hr class="my-4">
    <p>By anonymously telling us who you are, and what zip code you live in, we can get you the resources you need to get or provide help.</p>
    <p class="lead">
      <div class="input-group w-25">
        <i class="float-left fa fa-map-marker" aria-hidden="true"></i>
        <input type="text" class="form-control" aria-label="City, State" placeholder="Indianapolis, IN">
        <span class="input-group-addon">x</span>
      </div>
    </p>
  </div>
</div>
