<div class="h5">Filter by:</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="treatmentCenters" value="option1">
      Treatment Centers
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="narcoticsAnonymous" value="option2">
      NA Meeting Sites
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="narcanAvailability" value="option3" disabled>
      Narcan/Naloxone
  </label>
</div>
