<ul class="list-unstyled bg-light p-3" style="height:300px; overflow:scroll;">
  <li class="media">
    <img class="mr-3" src="{{ site.baseurl }}/assets/img/passersby.jpg" style="height: 64px; width: 64px">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Narcotics Anonymous Meetings</h5>
      See <a href="#">your local NA meeting schedule</a> to get or offer help.
    </div>
  </li>
  <li class="media">
    <img class="mr-3" src="{{ site.baseurl }}/assets/img/Naloxone_Kit.png" style="height: 64px; width: 64px">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Indiana schools can now stock Narcan</h5>
      Emergency personnel have used an overdose-reversing drug twice on people found unconscious on <a href="https://www.indystar.com/story/news/local/2017/11/08/why-some-indiana-schooshould-indiana-schools-stock-overdose-reversing-drug-naloxone-why-some-say-the/585595001/">Bartholomew Consolidated Schools’ property.</a>
    </div>
  </li>
  <li class="media my-4">
    <img class="mr-3" src="{{ site.baseurl }}/assets/img/road.jpg" style="height: 64px; width: 64px">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Beware of Fraudulent Treatment Centers</h5>
      Many treatment programs claim high success rates, but <a href="#">do your research</a> into their methodologies is very important.
    </div>
  </li>
  <li class="media">
    <img class="mr-3" src="{{ site.baseurl }}/assets/img/streetkid.jpg" style="height: 64px; width: 64px">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Denver man saves 91 lives and counting with Narcan</h5>
      Read up on <a href="#">an influential Denver man, known locally as the "uber of Narcan"</a>.
    </div>
  </li>
</ul>
