<div class="card text-center">
  <div class="card-header bg-dark text-white">
    The time is now. The knowledge is here. See how you can help.
  </div>
  <div class="card-body">
    <!-- Title -->
    <h3 class="card-title mt-4">I am a concerned</h3>
    <!-- Dropdown -->
    <h2 class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        friend/ family member
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">addict</a>
        <a class="dropdown-item" href="#">community advocate</a>
        <a class="dropdown-item" href="#">decision maker</a>
        <a class="dropdown-item" href="#">other</a>
      </div>
    </h2>
    </br>
    <!--  Subtitle -->
    <p class="card-text mb-4">We'll tailor data pertinent to your role in the opioid epidemic.</p>
    <a class="btn btn-success" href="{{ site.baseurl }}/dashboard.html">
      Dive into the data
    </a>
  </div>
  <div class="card-footer bg-dark text-muted">
    Updated: 15 seconds ago
  </div>
</div>
